.header-nav{
    padding-top: 50px;
}

a, a:hover{
    text-decoration: none;
    color: black
}

.row-top-section{
    padding-top: 50px;
}

.img-logo-header-nav{
    width: 150px;
}

#img-top-right{
    width: 400px;
}

#text-large-top-section{
    font-size: 300%;
    font-weight: 700;
}

#text-medium-top-section{
    font-size: 150%;
    font-weight: 700;
}

#text-gray-top-section{
    color: gray;
}

#text-small-top-section{
    font-size: 75%;
}

.dot-blue{
    height: 5px;
    width: 5px;
    background-color: rgb(8,80,248);
    border-radius: 50%;
    display: inline-block;
}

.row-footer{
    color: white;
    background-color: rgb(8,80,248);
    padding-top: 20px;
    padding-bottom: 100px;
}

#text-large-footer{
    font-size: 150%;
    font-weight: 700;
}

#text-small-footer{
    font-size: 75%;
}

.dot-white{
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}


.card {
    flex-direction:row;
    border-color: blue;
    background-color: blue;
    color: white;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 20%;
    border-radius:10px;
    text-align: left;
}

.intro{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;

}

.card_2 {
    flex-direction:row;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 20%;
    border-radius:10px;
    text-align: left;
}

.card img{
    background-color: white;
    width: 30%;
}

.card_2 img{
    background-color: white;
    width: 40%;
}

.card_body{
    padding-left: 4%;
    padding-right: 2%;
    padding-bottom: 10%;
}