.grid-container1 {
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: 55vw 45vw;
    grid-template-rows: 60vh 40vh;
    justify-content: end;
    text-align: center;
    margin-left: 50px;
}

.grid-item-1 {
    height: 100vh;
    background-color: blue;
    color: white;
    border-radius: 0% 100% 83% 17% / 98% 0% 100% 2%;
}

.button1 {
    border-radius: 30px;
    border: 3px solid white;
    font-weight: bold;
}

.firsth2 {
    margin-top: 10vh;
}

h2 {
    margin-bottom: 3vh;
}

.signin {
    width: 50vh;
    height: auto;
}

h1 {
    margin: 75px;
    font-size: 60px;
    font-weight: 650;
}

input {
    border-radius: 30px;
    margin: 20px;
    width: 25vw;
    height: 60px;
    margin-bottom: 40px;
    border: 1px solid black;
}

.symbol1 {
    padding-left: 3vw;
    background: url(/sign_up_page/img/Page-1.png) no-repeat;
    background-size: 20px;
    background-position: 1.2vw;
}

.symbol2 {
    padding-left: 3vw;
    background: url("https://www.freeiconspng.com/thumbs/envelope-icon/envelope-icon-14.png") no-repeat;
    background-size: 20px;
    background-position: 1.2vw;
}

.symbol3 {
    padding-left: 3vw;
    background: url("https://www.pngitem.com/pimgs/m/441-4415488_lock-icon-png-transparent-png.png") no-repeat;
    background-size: 20px;
    background-position: 1.2vw;
}

button {
    border-radius: 30px;
    width: 220px;
    height: 60px;
    background-color: blue;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: none;
}

.button2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    margin: 10px;
    margin-bottom: 3vh;
}

.flexbox-container {
    display: flex;
    width: 25vw;
    justify-content: space-around;
    translate: 10vw;
}

.flexbox-item {
    border: 1px solid black;
    border-radius: 100%;
}

.logo {
    width: 48px;
    height: auto;
    margin: 15px;
}

a {
    color: black;
}

.button1 a{
    color: white;
    text-decoration: none;
}
